<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assigment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>447BD42B1CD3A673000B5234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>447BD4441CD3A673000B5234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>447BD44F1CD3A673000B5234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
